/* Normal */

@media screen and (max-width: 1280px) {

    /* Basic */

        body, input, select, textarea {
            font-size: 13pt;
            line-height: 1.5em;
        }
    }

/* Forecast Table */
.contentbox.forecast {
    background-color: transparent;
    border: none;
    display: block;
}

.contentbox.forecast.table{
    display: flex;
    justify-content: center;
    border: none;
    width: 400px;
    margin-left: 20px;
    margin-top: 50px;
}

.col-head,th {
    font-weight: 400;
    font-size: 1rem;
    background-color: rgb(39, 1, 1);
}

table,th,td {
    border: thin solid #333;
    border-collapse: collapse;
    
}

td {
    background-color: white;
    font-size: 0.8rem;
    text-align: center;
    font-size: 22px;
}

.copyright {
    padding: 10px;
    height: 50%;
}