

/* Normal */

@media screen and (max-width: 1280px) {

/* Basic */

    body, input, select, textarea {
            font-size: 13pt;
            line-height: 1.5em;
        }
/* Header */
header h1 {font-size: 2rem}
    header .logo img {width: 30%;}
    header .social-media a img {width: 100%;}

/* Forecast Table */
.contentbox.forecast {
    background-color: transparent;
    border: none;
    display: block;
}

.contentbox.forecast.table{
    display: flex;
    justify-content: center;
    border: none;
}

.col-head,th {
    font-weight: 700;
    font-size: 1rem;
    background-color: black;
}

table,th,td {
    border: thin solid #333;
    border-collapse: collapse;
    padding: 25px 55px 30px 55px;
}

td {
    background-color: white;
    font-size: 0.8rem;
    text-align: center;
    font-size: 19px;
}
.fresh-main form fieldset {width: 40%;}
#banner header h2 {
    display: inline-block;
    margin: 0;
    font-size: 1.25em;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

#banner header h2 em {
        opacity: 0.75;
    }

    
#banner header .button {
    vertical-align: middle;
    margin-left: 1em;
    background-color: #644503;
    padding: 20px;
    color: #fff;
    text-decoration:  none;
}

.banner-content {
    position: absolute; 
    top: 60px; 
    height: 400px;
    margin-left: 100px;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%; 
    padding: 20px; 
  }

.banner-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

.mbeki {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.tachi {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }














}





@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width:1140px}}