/*
	Bountiful Foods
	WDD 230 Final Project | Kevin Cross Minchakpu
    BYU Idaho
*/


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}

/* Header */

 .logo {
    margin-bottom: 20px;
    margin-left: 250px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Basic */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f7f7f7;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    overflow-x: hidden;
}

 body, input, select, textarea {
    color: #474747;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
}

.header {
    text-align: center;
    padding: 3em 0 0 0;
    background-color: #fff;
    
}


.header-right {
        float: right;
        padding-right: 150px;
    }
        
/* Social Media Icons */
.fa {
    padding: 20px;
    font-size: 40px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    }

  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    color: #444;
  }
  
  .fa-twitter {
    color: #444;
  }

  .fa-instagram {
    color: #444;
  }

  .fa-linkedin {
    color: #444;
  }

/* Menu */

ul.menu {
		list-style: none;
		padding-left: 0;
	}

ul.menu li {
		border-left: solid 1px #e0e0e0;
		display: inline-block;
		padding: 0 0 0 1em;
		margin: 0 0 0 1em;
	}

ul.menu li:first-child {
		border-left: 0;
		margin-left: 0;
		padding-left: 0;
	}

    #nav {
        cursor: default;
        background-color: #333;
        font-size: 20px;
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
        background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
        padding: 0;
        }
    
    #nav:after {
        content: '';
        display: block;
        width: 100%;
        height: 0.75em;
        background-color: #644503;
       
            }
    
    #nav > ul {
        margin: 0;
            }
    
    #nav > ul > li {
        position: relative;
        display: inline-block;
        margin-left: 1em;
            }
    
    #nav > ul > li a {
        color: #c0c0c0;
        text-decoration: none;
        border: 0;
        display: block;
        padding: 1.5em 0.5em 1.35em 0.5em;
            }
    
    #nav > ul > li:first-child {
        margin-left: 0;
            }
    
    #nav > ul > li:hover a {
        color: #fff;
            }
    
    #nav > ul > li.current {
        font-weight: 600;
            }
    
    #nav > ul > li.current:before {
        -moz-transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        width: 0.75em;
        height: 0.75em;
        content: '';
        display: block;
        position: absolute;
        bottom: -0.5em;
        left: 50%;
        margin-left: -0.375em;
        background-color: #644503;
        
            }
    
    #nav > ul > li.current a {
        color: #fff;
                        }
    
    #nav > ul > li.active a {
        color: #fff;
            }
    
    #nav > ul > li.active.current:before {
        opacity: 0;
            }
    
    #nav > ul > li > ul {
        display: none;
            }


/* Banner */

#banner {
    height: 28em;
    text-align: center;
    position: relative;
}

#banner img {
  width: 100%;
}
    #banner header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #212121;
        color: #fff;
        padding: 1.5em 0;
        border: 1px solid #fff;
        margin-bottom: -100px;
    }

    #banner header h2 {
            display: inline-block;
            margin: 0;
            font-size: 1.25em;
            vertical-align: middle;
            font-family: Arial, Helvetica, sans-serif;
        }

    #banner header h2 em {
                opacity: 0.75;
            }

            
    #banner header .button {
            vertical-align: middle;
            margin-left: 1em;
            background-color: #644503;
            padding: 20px;
            color: #fff;
            text-decoration:  none;
        }

    .banner-content {
            position: absolute; 
            top: 50px; 
            height: 400px;
            margin-left: 100px;
            background: rgb(0, 0, 0); 
            background: rgba(0, 0, 0, 0.5); 
            color: #f1f1f1; 
            width: 50%; 
            padding: 20px; 
          }

      .banner-title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 70px;
            margin-top: 20px;
            margin-bottom: 30px;
            line-height: 60px;
          }

      .mbeki {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 40px;
            margin-bottom: 20px;
      }

      .tachi {
            color: whitesmoke;
            font-family: Arial, Helvetica, sans-serif;
          }
/* Carlsbad Summary */

#carlsbad-banner {
  padding: 6em 0 4em 0 ;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; 
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  text-align: justify;
}

#carlsbad-bannerr h1 {
    margin-top: -0.125em;
     
}

#carlsbad-banner .content {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 50%; 
    
}
#carlsbad-banner .image {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    margin: 0 0 2em 4em;
    width: 50%; }
#carlsbad-banner .image img {
    height: 100%;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    -moz-object-position: center;
    -webkit-object-position: center;
    -ms-object-position: center;
    object-position: center;
    width: 100%; 
}

.welcome {
    text-align: center;
    font-size: 40px;
}

.welcome2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.button-big {
    background-color: #555555;
    padding: 16px;
    font-size: 16px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-left: 100px;
}

/* Carlsbad Weather */

.weather-column {
  float: left;
  width: 45%;
  margin-left: 50px;
}

.weather-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 480px) {
  .weather-column {
    width: 95%;
    margin-left: 10px;
  }

  .emily {
    padding: 5px;
    height: 40px;
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
   }
}
.esther{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
        
    .eleazar{
        padding: 16px;
        height: 70px;
        background-color: darkslategray;
        color: whitesmoke;
        text-align: center;
        font-size: 30px;
    }

    .epiphany {
        padding: 16px;
        height: 300px;
        background-color: #333;
    }
        
   .emily {
    padding: 5px;
    height: 40px;
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
   }

 .caption {
    color: orange;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
 }

 .stats {
    color: #fff;
    text-align: center;
    font-size: 16px;
 }

 .elhanan {
    padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px;
    }
    .eliora {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }

    .week-day {
        color: whitesmoke;
    }

    /* Forecast Table */
.contentbox.forecast {
	display: none;
}

/* Footer */

.footer-column {
    float: left;
    width: 33.33%;
    background-color: #1d2b36;
    height: 300px;
    padding: 50px;
  }

  .footer-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .ngei {
    color: whitesmoke;
    text-decoration: none;
  }
  @media screen and (max-width: 600px) {
    .footer-column {
      width: 100%;
    }
  }

  .list-group {
    color: #F5FFFA;
    list-style: none;
  }

  .mbekudi {
    color: orange;
    text-align: center;
    font-size: 25px;
  }

  .lazon {
    color: whitesmoke;
    text-align: center;
  }

  .social-icon {
    color: #e0e0e0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    margin-left: 90px;
    margin-bottom: 20px;

  }

 .social-icon-link {
    font-size: 35px;
    color: whitesmoke;
    margin-right: 5px;
    text-align: center;
    
 }

 .copyright {
    background-color: black;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 0px;
 }

 .attribution-main {
  color: orange;
  text-decoration: none;
  font-size: 15px;
 }

 .attribution-main:hover {
  color: whitesmoke;
  font-size: 16px;
  text-decoration: none;
}

.copyright-text {
  color: whitesmoke;
  margin-bottom: 0px;
}

/*About Us Page*/

.aboutus {
    background-color: #033E3E;
    height: 100px;
    background-image: url("nature.webp");
    text-align: center;
    color: #f1f1f1;
    font-size: 29px;
    padding-top: 20px;
    
  }

  .about-article {
    width:95%;
    margin-right: 100px;
    margin-left: 50px;
    padding:12px;
    background:#efefef;
    border-radius:5px;
    }

  .about-article2 {
    width:95%;
    margin-right: 100px;
    margin-left: 50px;
    padding:12px;
    background:#efefef;
    border-radius:5px;
  }

  .image-right {
    background:silver;
    width:500px;
    height:400px;
    border-radius:5px;
    padding:20px;
    color:#efefef;
    font-size:8rem;
    float:right;
    margin-left:50px;
    margin-right: 150px;
    margin-bottom: 20px;
  } 
    
  .image-left {
    background:silver;
    width:500px;
    height:400px;
    border-radius:5px;
    padding:20px;
    color:#efefef;
    font-size:8rem;
    float:left;
    margin-left:20px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
  }  

  .about-para {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }

  .about-para2 {
    text-align: justify;
    margin-left: 50px;
    margin-right: 350px;
  }

  .headline {
    text-align: center;
    font-size: 28px;
    color: #644503;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .google-map {
    padding-bottom: 50%;
    position: relative;
    margin-top: 50px;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

#year {
  color: orange;
}

/* Fresh Page */

.fresh-title {
  background-color: #033E3E;
  height: 100px;
  background-image: url("nature.webp");
  text-align: center;
  color: #f1f1f1;
  font-size: 29px;
  padding-top: 20px;
  
}

.fresh-main {
  width: 980px;
  margin: 8vh auto;
  border: 2px solid #333;
  padding-top: 30px;
  
}

.cart-title {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin-bottom: 20px;

}

.cart-para {
  text-align: center;
  border-bottom: 2px solid #444;
}

form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form fieldset {
  margin: .5rem 0;
  padding: 1rem;
  width: 80%;
  box-shadow: 3px 3px 7px 1px gray;
}
form legend {
  padding: .3rem .7rem;
 background-color: #051922;
 width: 100%;
  
  color: whitesmoke;
  
}

form .text {
  background-color: white;
  padding: .1rem .3rem 0.1rem;
  
}
form label.top, form div {
  display: block;
  padding-top: 1.7rem;
  font-size: 1rem;
}
form label.top input, form label.top textarea {
  display: block;
  font-size: 1rem;
  box-shadow: 3px 3px 7px 1px gray;
  padding: 1rem;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  background-color: white
}
form input.submitBtn {
  border: none;
  display: block;
  font-size: 1.2rem;
  border: solid 2px black;
  background-color: #434742;
  color: white;
  padding: .75rem 1.5rem;
  width: 96%;
  max-width: 15rem;
  margin-bottom: 20px;
  
}
form input.submitBtn:hover {
  background-color: orange;
color: #000;}

form label.top input:required {border-left: #DD0426 solid 4px;}
form label.top input:required:valid {border-left: green solid 4px;}
form div select {
  display: block;
  font-size: 1rem;
  box-shadow: 3px 3px 7px 1px gray;
  border-radius: 3px;
  padding: .5rem;
  width: 70%;
  min-width: 50%;
  max-width: 70%;
  background-color: white;
  margin: 1rem 0 1rem 0;
}
form fieldset .ingredients {padding: 0;}
form fieldset .fruit-text {
  background-color: white;
  padding: 0 .2rem 0 .2rem;
}
form fieldset textarea {
  margin-top: 1rem;

}
.nutritionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
}
.nutritionDiv .order-info {
  background-color: white;
  padding: 30px;
  box-shadow: 3px 3px 7px 1px gray;
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
  
}
.nutritionDiv {
  margin: 1rem 0 1rem 0;
  background-color: white;
  padding: .3rem;
 
  word-break: break-all;
}

.order-fruits {
  width: 50%;
  box-shadow: 3px 3px 7px 1px gray;
  text-align: center;
  }

.order-fruits p {
  margin: .2rem 0 .2rem 0;
  padding: 30px;

}

.fresh-main table, th, td {
  border: 1.5px solid black;
  border-collapse: collapse;
}
.fresh-main table th {
  padding: .8rem 1rem .8rem 1rem;
  background-color: #262d3b;
  color: white;
  width: 50%;
  text-align: center;
}
.fresh-main table td {padding: .5rem .8rem .5rem .8rem;}

.fresh-main table {
  width: 50%;
  margin-top: 10px;
}

/* Contact Us Page */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  z-index: 3;
  padding-bottom: 50px;
}

.contact-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #444;
 }

  
.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.row  {
  display: flex;
  flwx-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 50%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #865803;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}

/* Featured */

.orange-text {
  color: #F28123;
}

@media (min-width: 992px) {
.blah {
	-ms-flex: 0 0 58.333333%;
	flex:0 0 58.333333%;
	max-width:58.333333%
}
}

.nzomeh {
  padding-bottom:1rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #051922;
}

.banmada{
	-ms-flex:0 0 50%;
	flex:0 0 50%;
	max-width:50%
}

.gwanje {
	-ms-flex:0 0 50%;
	flex:0 0 50%;
	max-width:50%
}

.gburchu {
margin-bottom:1.5rem!important
}

.gburje {
margin-bottom:3rem!important
}

.ngah {
	display:-ms-flexbox!important;
	display:flex;
 
}

.feature-bg {
  position: relative;
  margin: 150px 150px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.feature-bg:after {
  background-image: url(../images/about-img.jpg);
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  content: "";
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #cacaca;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.featured-container {
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}

@media (min-width:480px){
  .featured-container {
    max-width:100%;
    display: flex;
    flex-direction: column;
  }
}

.content {
  margin-right: 50px;
}

.list-box {
  overflow: hidden;
  letter-spacing: 0.5px;
}

.list-box .content h3 {
  display: block;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 4px;
}

.list-box .content p {
  margin-bottom: 0px;
  opacity: 0.75;
  text-align: left;
  word-spacing: -2px;
  
}

.list-box .list-icon i {
  display: block;
  font-size: 22px;
  margin-right: 15px;
  color: #212121;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 60px;
  border: 2px #F28123 dotted;
  border-radius: 999px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  margin: 0 0 1.25rem 0;
}

p:last-child {
  margin: 0;
}

.why {
  text-align: center;
  font-size: 18px;

}

.modal-header {
  background-color: #212121;
  color: whitesmoke;
}
.modal-title {
  text-align: center;
  font-size: 25px;
  
}

.modal-footer {
  background-color: #212121;
}

.credit {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.attribution2 {
  background-color: #033E3E;
  height: 100px;
  color: #f1f1f1;
  font-size: 29px;
  padding-top: 20px;
  text-align: center;margin-bottom: 20px;
}

.vengei {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-size: 20px;
}

.creative-commons {
  margin-top: 20px;
  text-align: center;
}

.sources {
  margin-left: 100px;
}

.why {
  font-weight: bold;
}

.featured-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Our Team */

.bature {
  margin-top: 150px;
}

@media only screen and (max-width: 480px) {
  .bature {
    margin-top: 100px;
    
  }
 
  .section-title p {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    color: #555;
    margin-top: 10px;
    line-height: 1.8;
  }
  
  
}

.section-title h3 {
  font-size: 40px;
  position: relative;
  padding-bottom: 15px;
  font-weight: bold;
}

.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #F28123;
  margin: 0 auto;
}

.section-title p {
  font-size: 18px;
  width: 530px;
  margin: 0 auto;
  color: #555;
  margin-top: 10px;
  line-height: 1.8;
}

.section-title {
  margin-bottom: 80px;
}

.text-center {
  text-align: center;
}

.kumatu {
  -ms-flex:0 0 66.666667%;
  flex:0 0 66.666667%;
  max-width:66.666667%
}

.gila {
  margin-left:16.666667%;
}

.team-column {
  float: left;
  width: 33.3%;
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 480px) {
  .team-column {
    width: 100%;
    display: block;
  }
}

.team-row::after {
  content: "";
  clear: both;
  display: table;
}

.team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* Cards */

.index-card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #051922;
  color: whitesmoke;
  }


  .index-panel {
    padding: 16px;
    margin-top:0px;
    margin-bottom:16px;
    width: 400px;
    margin-left: 500px;
    height: 200px;
    border: 2px solid #1d2b36;
  
    }

    .index-p {
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      border-bottom: 2px solid whitesmoke;
      text-align: center;
      color: orange;
    }

   
    #drinks {
      padding-top: 10px;
      text-align: center;
      
  }
  #drinks h2 {
      position: absolute;
      font-size: 1.5rem;
      left: 0;
      right: 0;
      top: 2rem;
      bottom: 0;
      margin: auto;
  }
  .drink-title {
      background-color: white;
      padding: .2rem;
      line-height: 2rem;
  }

  /*Responsive*/

  @media screen and (max-width: 480px) {

    /* Banner */
    
    #banner {
      height: 20em;
    }
    
    #banner header {
      padding: 20px;
    }
    
            
    /* Footer */
    
    #footer {
    padding: 2em 20px;
    text-align: left;
    }
    
      }

  /* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 14pt;
				line-height: 1.5em;
			}

		/* Banner */

			#banner {
				height: 24em;
			}

	}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
				line-height: 1.5em;
			}

				
		/* Header */

			#header {
				padding: 2em 0 0 0;
			}

				#header h1 {
					padding: 0 0 1.75em 0;
				}

		/* Banner */

			#banner {
				height: 20em;
			}

					/* Footer */

			#footer {
				padding: 3em 0 3em 0;
			}

				#footer .container {
					margin-bottom: 1em;
				}

	}

/* Narrow */

	@media screen and (max-width: 980px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
				line-height: 1.5em;
			}

	}

/* Narrower */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 840px) {

			html, body {
				overflow-x: hidden;
			}

			body, input, select, textarea {
				font-size: 13pt;
			}

			h1, h2, h3, h4, h5, h6 {
				margin-bottom: 0.5em;
			}

			header p {
				margin-top: -0.75em;
			}

			header.major {
				text-align: center;
				margin: 0 0 2em 0;
			}

				header.major h2 {
					font-size: 1.75em;
				}

				header.major p {
					top: -0.25em;
					font-size: 1.25em;
				}

				/* Header */

			#header {
				display: none;
			}

		/* Banner */

			#banner {
				height: 20em;
			}

				#banner header h2 {
					display: block;
				}

				#banner header .button {
					margin: 1em 0 0 0;
				}

				/* Footer */

			#footer {
				text-align: center;
			}

				#footer .container {
					margin-bottom: 4em;
				}

				#footer form .actions {
					-moz-justify-content: center;
					-webkit-justify-content: center;
					-ms-justify-content: center;
					justify-content: center;
					width: 100%;
					margin-left: 0;
				}

					#footer form .actions li:first-child {
						padding-left: 0;
					}
        }

        /* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}

		@media screen and (max-width: 1680px) {

			.container {
				width: 1200px;
			}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: 960px;
			}

		}

		@media screen and (max-width: 980px) {

			.container {
				width: 95%;
			}

		}

		@media screen and (max-width: 840px) {

			.container {
				width: 95%;
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 90%;
			}

		}

		@media screen and (max-width: 480px) {

			.container {
				width: 100%;
			}

		}

   
    @media screen and (max-width: 480px) {
      #nav ul li a {
        color: #c0c0c0;
        text-decoration: none;
        border: 0;
        display: block;
        padding: 1.5em 0.5em 1.35em 0.5em;
            }
       .header-right {
         float: none;
       }

       .fresh-main {
        width: 400px;
        margin: 8vh auto;
        border: 2px solid #333;
        padding-top: 30px;
      }

      .logo {
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .about-article {
      width:80%;
      padding:22px;
      background:#efefef;
      border-radius:5px;
      }
  
    .about-article2 {
      width:80%;
      padding:22px;
      background:#efefef;
      border-radius:5px;
    }
  
    .image-right {
      background:silver;
      width:340px;
      height:400px;
      border-radius:5px;
      color:#efefef;
      margin: auto;
    } 
      
    .image-left {
      background:silver;
      width:340px;
      height:400px;
      border-radius:5px;
      color:#efefef;
      margin: auto;
    }

    .about-para {
      text-align: justify;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .about-para2 {
      text-align: justify;
      margin-left: 10px;
      margin-right: 250px;
    }

    .headline {
      text-align: center;
      font-size: 28px;
      color: #644503;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 20px;
      margin-top: 100px;
    }
  
    .google-map {
      padding-bottom: 50%;
      position: relative;
      margin-top: 50px;
  }
  
  .google-map iframe {
      height: 100%;
      width: 100%;
      left: 10px;
      top: 0;
      position: absolute;
  }

  .team-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    margin-right: 10px;
    text-align: center;
  }

  #banner img {
    width: 100%;
  }

  #banner {
    height: 48em;
    text-align: center;
    position: relative;
}

#banner header h2 {
    display: inline-block;
    margin: 0;
    font-size: 1.25em;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
        }

    #banner header h2 em {
                opacity: 0.75;
            }
 .banner-content {
      
      height: 400px;
      margin-left: 10px;
      background: rgb(0, 0, 0); 
      background: rgba(0, 0, 0, 0.5); 
      color: #f1f1f1; 
      width: 100%; 
      
          }
  .banner-title {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 30px;
      
      
    }

    .mbeki {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      margin-top: 0px;
     
}

#carlsbad-banner {
  display: flex;
  flex-direction: column; 
 margin-top: 0px;
 text-align: justify;
}

#carlsbad-bannerr h1 {
  margin-top: 10px;
   
}

.welcome {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  line-height: 35px;
}

#carlsbad-banner .image {
  display: flex;
  margin-left: 10px;
  width: 50%; 
}

#carlsbad-banner .image img {
  height: 300px;
  width: 300px; 
  margin-top: 30px;
}

.eleazar{
  padding: 6px;
  height: 50px;
  background-color: darkslategray;
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
}

.epiphany {
 height: 400px;
  background-color: #333;
}

.caption {
  color: orange;
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  margin-top: 10px
}

.credit {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
}

.index-card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #051922;
  width: 400px;
  color: whitesmoke;
  }

  .index-panel {
    padding: 16px;
    margin-top:0px;
    margin-bottom:16px;
    width: 400px;
    margin-left: 10px;
    height: 200px;
    border: 2px solid #1d2b36;
  
    }

    #nav ul li {
      
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid white;
      width: 400px;
          }
}