/*
	Bountiful Foods
	WDD 230 Final Project | Kevin Cross Minchakpu
    BYU Idaho
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}

/* Header */

 .logo {
    margin-bottom: 20px;
    margin-left: 150px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Basic */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f7f7f7 url("images/bg01.png");
}

    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

body, input, select, textarea {
    color: #474747;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
}

.header {
    text-align: center;
    padding: 3em 0 0 0;
    background-color: #fff;
    
}


.header-right {
        float: right;
        padding-right: 50px;
    }
        
/* Social Media Icons */
.fa {
    padding: 20px;
    font-size: 40px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    }

  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    color: #444;
  }
  
  .fa-twitter {
    color: #444;
  }

  .fa-instagram {
    color: #444;
  }

  .fa-linkedin {
    color: #444;
  }

/* Menu */

ul.menu {
		list-style: none;
		padding-left: 0;
	}

ul.menu li {
		border-left: solid 1px #e0e0e0;
		display: inline-block;
		padding: 0 0 0 1em;
		margin: 0 0 0 1em;
	}

ul.menu li:first-child {
		border-left: 0;
		margin-left: 0;
		padding-left: 0;
	}

    #nav {
        cursor: default;
        background-color: #333;
        font-size: 20px;
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
        background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
        background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
        padding: 0;
        }
    
    #nav:after {
        content: '';
        display: block;
        width: 100%;
        height: 0.75em;
        background-color: #644503;
        background-image: url("images/bg01.png");
            }
    
    #nav > ul {
        margin: 0;
            }
    
    #nav > ul > li {
        position: relative;
        display: inline-block;
        margin-left: 1em;
            }
    
    #nav > ul > li a {
        color: #c0c0c0;
        text-decoration: none;
        border: 0;
        display: block;
        padding: 1.5em 0.5em 1.35em 0.5em;
            }
    
    #nav > ul > li:first-child {
        margin-left: 0;
            }
    
    #nav > ul > li:hover a {
        color: #fff;
            }
    
    #nav > ul > li.current {
        font-weight: 600;
            }
    
    #nav > ul > li.current:before {
        -moz-transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        width: 0.75em;
        height: 0.75em;
        content: '';
        display: block;
        position: absolute;
        bottom: -0.5em;
        left: 50%;
        margin-left: -0.375em;
        background-color: #644503;
        background-image: url("images/bg01.png");
            }
    
    #nav > ul > li.current a {
        color: #fff;
                        }
    
    #nav > ul > li.active a {
        color: #fff;
            }
    
    #nav > ul > li.active.current:before {
        opacity: 0;
            }
    
    #nav > ul > li > ul {
        display: none;
            }


/* Banner */

#banner {
    height: 28em;
    text-align: center;
    position: relative;
}

    #banner header {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #212121;
        color: #fff;
        padding: 1.5em 0;
        border: 1px solid #fff;
        margin-bottom: 0px;
    }

        #banner header h2 {
            display: inline-block;
            margin: 0;
            font-size: 1.25em;
            vertical-align: middle;
            font-family: Arial, Helvetica, sans-serif;
        }

            #banner header h2 em {
                opacity: 0.75;
            }

            
        #banner header .button {
            vertical-align: middle;
            margin-left: 1em;
            background-color: #644503;
            padding: 20px;
            color: #fff;
            text-decoration:  none;
        }

        .banner-content {
            position: absolute; 
            top: 60px; 
            height: 400px;
            margin-left: 100px;
            background: rgb(0, 0, 0); 
            background: rgba(0, 0, 0, 0.5); 
            color: #f1f1f1; 
            width: 50%; 
            padding: 20px; 
          }

          .banner-title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 70px;
            margin-top: 20px;
            margin-bottom: 30px;
            line-height: 60px;
          }

          .mbeki {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 40px;
            margin-bottom: 20px;
          }

/* Carlsbad Summary */


#carlsbad-banner {
  padding: 6em 0 4em 0 ;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; 
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 0px;
  text-align: justify;
}

#carlsbad-bannerr h1 {
    margin-top: -0.125em;
     
}

#carlsbad-banner .content {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 50%; 
    
}
#carlsbad-banner .image {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    margin: 0 0 2em 4em;
    width: 50%; }
#carlsbad-banner .image img {
    height: 100%;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    -moz-object-position: center;
    -webkit-object-position: center;
    -ms-object-position: center;
    object-position: center;
    width: 100%; 
}

.welcome {
    text-align: center;
    font-size: 40px;
}

.button-big {
    background-color: #555555;
    padding: 16px;
    font-size: 16px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-left: 100px;
}

/* Carlsbad Weather */

.weather-columns {
    Width: 100%;
    margin-left: 60px;
    margin-bottom: 10px;
    }
    .weather-column-1, .weather-column-2 {
      width:100%;
      background-color: #fff;
    }
    @media (min-width: 48em) {
      .weather-column-1 {
        width: 40%;
        float:left;
      }
      .weathercolumn-2 {
        width: 60%;
        float:left;
      }
    
      .weather-columns {
        content:"";
        display: table;
        clear: both;
      }
    }

    .esther{
        box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
        }
        
    .eleazar{
        padding: 16px;
        height: 70px;
        background-color: darkslategray;
        color: whitesmoke;
        text-align: center;
        font-size: 30px;
    }

    .epiphany {
        padding: 16px;
        height: 300px;
        background-color: #333;
    }
        
   .emily {
    padding: 5px;
    height: 40px;
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
   }

 .caption {
    color: orange;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
 }

 .stats {
    color: #fff;
    text-align: center;
    font-size: 16px;
 }

 .elhanan {
    padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px;
    }
    .eliora {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }

    .week-day {
        color: whitesmoke;
    }

    /* Forecast Table */
.contentbox.forecast {
	display: none;
}

.carlsbad-map {
    float: right;
    margin-right: 10px;
    margin-left: 0px;
}

/* Footer */

.footer-column {
    float: left;
    width: 33.33%;
    background-color: #212121;
    height: 500px;
    padding: 50px;
  }

  .footer-row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .footer-column {
      width: 100%;
    }
  }

  .list-group {
    color: #F5FFFA;
    list-style: none;
  }

  .mbekudi {
    color: orange;
    text-align: center;
    font-size: 25px;
  }

  .lazon {
    color: whitesmoke;
    text-align: center;
  }

  .social-icon {
    color: #e0e0e0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    margin-left: 90px;
    margin-bottom: 20px;

  }

 .social-icon-link {
    font-size: 35px;
    color: whitesmoke;
    margin-right: 5px;
    text-align: center;
    
 }

 .copyright {
    background-color: black;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    margin-bottom: 0px;
 }

.attribution a:link {
    color: whitesmoke;
    font-size: 16px;
    text-decoration: none;
}

/*About Us Page*/

.aboutus {
    background-color: gray;
    height: 200px;
    background-image: url("nature.webp");
    text-align: center;
    padding: 50px;
  }